<html ng-app="MyApp">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/FrontEnd/ngView/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        @RenderBody()
        <ul class="nav nav-tabs">
            <li><a href="/">Home</a></li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/add">Add</a></li>
            <li><a href="/login" ng-show="!account.isLoggedIn()">login</a></li>
            <li><a href="#" ng-click="account.logout()" ng-show="account.isLoggedIn()">logout</a></li>
        </ul>
    </div>

    <div class="container" ng-view></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/FrontEnd/JS/app.js"></script>
    <script src="~/FrontEnd/JS/Services/RadicalService.js"></script>
    <script src="~/FrontEnd/JS/Controllers/MainController.js"></script>
    <script src="~/FrontEnd/JS/Controllers/CategoriesController.js"></script>
</body>
</html>
